/*CSS*/




/*display horizonataly */

ul.products{
	/*border: 2px solid blue;*/
/*	background-color: white;*/
	width: 60%;
	float: right;
	clear: both;

}

ul.products.columns-1{
	list-style: none;
}

ul.products.columns-1 li{
	/*border: 1px solid blue;*/
	display: inline-block;
	width:100%;

}

ul.products.columns-2{
	list-style: none;

}

ul.products.columns-2 li{
/*	border: 1px solid blue;*/
	display: inline-block;
	width: 45%;
}

ul.products.columns-3{
	list-style: none;

}

ul.products.columns-3 li{
/*	border: 1px solid blue;*/
		display: inline-block;
		width: 30%;
		/*  float:left;  */
		margin-bottom: 10px;
		margin-top: 10px;
		padding-top: 5px;
		padding-bottom: 5px;

}

ul.products.columns-4{
	list-style: none;
}

ul.products.columns-4 li{
	/*border: 1px solid blue;*/
	display: inline-block;
	width: 24%
}

h2.woocommerce-loop-product__title{
	    font-weight: 100;

}

.star-rating{
	border: 2px solid blue;
/*	padding-top: 3px;*/
	padding-bottom: 5px;
}


.woocommerce-Price-amount {
	border: 2px solid blue;
	padding-bottom: 2px;
	display: block;
}

a.add_to_cart_button{
	border: 2px solid blue;
	background-color:  yellow;
	padding: 2px;
}

